@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .fade-in {
    animation: fade-in 1s ease;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
}
