@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  @apply h-[48em] w-96 bg-slate-100 text-slate-800 dark:bg-slate-800 dark:text-slate-100;
}

body::-webkit-scrollbar {
  display: none;
}
